[2016-03-01 01:49] piterlouis opened #3 "Synchronous promises don't chain properly"
This is a corner case but could be interesting support it. When we have 3 promises encapsulating synchronous code, if we try to chain all of them, the chaining is not working properly.
[code]
If we chain all of them, _A_ and _B_ are executed but _C_ doesn't it:

[code]

I think the problem in this case is in the method:
[code]
When *then* is executed over **promiseA**, is defined the *successBlock

[2016-03-01 09:23] s4cha commented on #3
@piterlouis this is brilliant! Even if we usually use Async code in promises, this definitely is a bug indeed.
I can reproduce it on my end and your fix works like a charm :)
Would you mind creating a pull request for this?
Thank you so much for your help :+1:

[2016-03-01 09:28] s4cha commented on #3
By the way I could reproduce the exact same bug with the other syntax below :

[code]

which should be the exact equivalent than `promiseA().then(promiseB()).then(promiseC())`.

Once again it works perfectly if promiseA is Asynchronous but not if A is synchronous. This will need a separate fix though.

[2016-03-01 10:01] s4cha commented on #3
Actually we need to fix this further down, as explained before, the two syntaxes should do the same. so we rewrote the function taking a promise as a parameter like so :

[code]

Now our fix (yet to be found) will fix the two issues described above :)

[2016-03-01 11:00] s4cha commented on #3
Hey @piterlouis, we just pushed a fix on "dev" branch, could you confirm that it fixes your issue?

[2016-03-02 19:00] piterlouis commented on #3
Ey @s4cha, the fix works perfect!. Thanks you a lot for your code and time!!

[2016-03-02 19:00] #3 closed

[2016-04-08 02:34] chetem commented on #3
I was having this same issue, glad to see it fixed! Any chance the changes will be pushed up to Cocoapods?

[2016-04-08 12:26] s4cha commented on #3
@chetem Indeed this wasn't pushed to CocoaPods. Can you confirm this is fixed?

[2016-04-09 00:18] chetem commented on #3
Yep! I used the latest source code in one of my projects and everything seems to be working as expected!

[2016-04-09 09:51] s4cha commented on #3
@chetem great !

[2016-08-03 15:04] maxkonovalov opened #5 "WhenAll always succeeds"
`whenAll` always calls `then` block, disregarding its inner promises success or fail:
[code]
Output:
[code]

Is this by design? Would be good to get `onError` called when one of the promises fails.

[2016-08-06 08:22] s4cha commented on #5
Hi @maxkonovalov
Good catch :)
whenAll now calls `onError` if one of the promises fail -> f9a1cee037c7188bd768505fa05060d9c5709955
Let me know if that's ok with you and we'll tag a new version,

Have a nice day,

[2016-08-06 08:33] maxkonovalov commented on #5
Awesome! It works now as expected, thanks! 😀

[2016-08-06 08:33] #5 closed

[2016-08-06 09:27] s4cha commented on #5
Great!
This is now fixed in 1.4.1

[2016-09-21 12:45] umeshjavastar opened #8 "swift 3 with pod file"
hello I am using pod in swift 3

`pod 'thenPromise', :git => 'https://github.com/freshOS/then.git', :branch => 'swift3' #swift 3`

but it doesn't work can you tell me right syntax

[2016-09-21 21:26] s4cha commented on #8
Hello @umeshjavastar there is nothing wrong with your Podfile as far as I can tell.  We have an issue with the swift3 version of then indeed but we're on it :)
I'll ping you when it's fixed, hopefully tomorrow. Have a great day,

[2016-09-22 04:45] umeshjavastar commented on #8
Thanks,
I am waiting for new version update

[2016-09-22 08:18] s4cha commented on #8
Hi @umeshjavastar, swift3 version is now out
Here is a `Podfile` version that will pull the latest (swift3) version.

[code]

Let me know how it goes :)

[2016-09-22 09:09] umeshjavastar commented on #8
Thanks its working

[2016-09-22 09:32] s4cha commented on #8
Awesome!

[2016-09-22 09:32] #8 closed

[2016-09-29 10:11] mandarin6b0 opened #9 "Promise does not deinit"
In Promise.swift add debug outputs
[code]

Then if you run
[code]

The output will be
[code]

After adding `[weak self]` to all `registerThen<X>` blocks
[code]

and changing `passAlongFirstPromiseStartFunctionAndStateTo<X>` to
[code]

The output:
[code]

There are still strong ref cycles somewhere, any ideas?

[2016-09-29 10:39] mandarin6b0 commented on #9
Future investigations, removing in `registerThen<X>`

[code]

totally heal leaks

[code]

[2016-09-29 13:16] s4cha commented on #9
@mandarin6b0 Thanks a ton for your time and investigations,
I'm will take a look whenever I have some time and let you know how it goes.
Cheers,

[2016-10-01 17:24] s4cha commented on #9
@mandarin6b0 Indeed I can reproduce on my side. Have no idea how we didn't see this issue earlier :)
in `registerThen<X>` replacing

[code]

by

[code]

solves this issue. So our problem here seems to lie in capturing the `progress` callback in a block

I have no solution right now but I'm on it ! :) If you have any ideas, feel free to share.

Have a good day,

[2016-10-01 19:43] mandarin6b0 commented on #9
@s4cha, thank you for reply. Solved cycle by changing in `start()` method

[code]

to

[code]

There may be more places with cycled refs, need some more time for audit.
P.S. I'm using swift 2 now in my project, so the the code will be different for swift 3

[2016-10-01 20:35] s4cha commented on #9
I did it on swift 3 and had the same conclusions, I will try your fix tomorrow. That sounds awesome!! Great work @mandarin6b0

[2016-10-02 12:20] s4cha commented on #9
Hey @mandarin6b0, I found that replacing this :

[code]

by this :

[code]

in `@discardableResult public func then<X>(_ block: @escaping (T) -> X) -> Promise<X> {` solves the retain cycle.
The problem with the previous fixes discussed before is that they break the unit tests.

By the way, what you found can also be shown with the code below :

[code]

In essence, if `promise a` is async then when

[2016-10-02 13:53] s4cha commented on #9
@mandarin6b0
Ok I think I found the missing piece of the puzzle.

The retain cycle is, as you noticed earlier, in part due to  `promise.initialPromiseStart = self.start`

Indeed each promises captures the next ones `resolve` and `reject` blocks but also each keep a reference to the first one, hence the cycle.

The fix
`promise.initialPromiseStart = { [weak self] self?.start() }`
breaks the retain

[2016-10-02 14:26] s4cha commented on #9
@mandarin6b0  here is the diff that fixes the issue on my side :
https://gist.github.com/s4cha/7f03a415a147b1eb2c1e05c59111be47

It essentially is :
- Using `[weak self]` in promise blocks
- Setting `initialPromiseStart = nil` in  `resolvePromise` and `rejectPromise`

This is on swift 3 but should be the same for swift 2.

Let me know how it works for you and we'll update the version :)

Have a fa

[2016-10-02 15:08] mandarin6b0 commented on #9
@s4cha something is still wrong on my side, I applied your diff:
https://gist.github.com/mandarin6b0/41d313bf540e501b99801136c3741b38
However the output shows no retains :(
Are `start` and `passAlongFirstPromiseStartFunctionAndStateTo` methods still the same on your side?

[2016-10-02 15:38] s4cha commented on #9
@mandarin6b0 Indeed :/

for some reason this works :

[code]

while this doesn't :

[code]

aka async vs sync

Back to work then ^^

[2016-10-02 15:51] s4cha commented on #9
@mandarin6b0  of think I got it, look like moving `self?.progressBlocks.append(progress)` into the `pending:` case only fixes the issue :)

[code]

Is it ok on your side ?

[2016-10-02 15:53] s4cha commented on #9
Here is a sample project with your issue :)
[testLEAKthen.zip](https://github.com/freshOS/then/files/505080/testLEAKthen.zip)

[2016-10-02 18:58] mandarin6b0 commented on #9
@s4cha yes, moving progress block fix it. All ok now on my side :)

[2016-10-12 08:28] s4cha commented on #9
Hey @mandarin6b0 this is now live in 2.0.1 -> https://github.com/freshOS/then/releases/tag/2.0.1
Thanks a ton for your work an determination to fix it, very much appreciated!

[2016-10-12 08:34] mandarin6b0 commented on #9
@s4cha, 👍  Thanks you for your work! Then I'm closing this issue :)

[2016-10-12 08:34] #9 closed

[2016-10-26 01:47] singno opened #10 "Consider supporting Async/Await ?"
https://github.com/yannickl/AwaitKit

ES8 Async/Await is a wonderful feature for dealing async logic, will you consider supporting it ?

[2016-10-26 09:47] s4cha commented on #10
@singno thanks for the suggestion, I am going to check this out :)

[2016-10-27 09:41] singno commented on #10
@s4cha It will be very nice to have this feature!

[2016-10-27 16:12] singno opened #11 "Promise callback opportunity"
Callback will never be called:
![image](https://cloud.githubusercontent.com/assets/5654690/19775149/0d821390-9ca2-11e6-97c5-5c29c601066c.png)

Callback will be called if write "then" logic:
![image](https://cloud.githubusercontent.com/assets/5654690/19775237/5d494d12-9ca2-11e6-8bb6-63c818dbfc1e.png)

Compare with javascript (Callback will run at once while creating a promise):
![image](https://clo

[2016-11-10 12:23] umeshjavastar commented on #5
I have a little bit of problem related to above discussion,

whenAll execute two promises,
1.promise 1
2.promise 2

How to know which promise failed?? if Any

OR

 How to handle if any of these promise failed due to network lost?

[2016-11-10 12:58] maxkonovalov commented on #5
Hi @umeshjavastar!

The logic for `whenAll` is that if any promise fails, the whole group fails. The current logic is that the **last** promise that fails propagates its error to the `whenAll` completion. BTW, I think this behavior should be reversed so that the first failed promise cancels the whole group and outputs its error - @s4cha what do you think? Is it possible at all to cancel the promis

[2017-02-10 04:10] crarau opened #15 "Cloning the library takes a long while"
Cloning the library takes a long while. `Receiving objects` downloads 359MB and `Resolving deltas` is very long.

[code]

[2017-02-10 08:32] s4cha commented on #15
Hi @crarau,

Using a beta version of the cocoapods gem to publish the library temporarily changed the remote as discussed here : https://github.com/CocoaPods/CocoaPods/issues/5771

This happened at the same time this issue occurred and we never pushed files that big, the project is supposed to be a few megabytes tops.

So this leads me to believe that somehow a part of the Cocoapods repo got impor

[2017-02-10 08:40] maxkonovalov commented on #15
I think I had a similar issue in one of my projects, somehow git started tracking Cocoapods remote instead of my repo. I fixed this by removing all remotes and re-adding them afterwards. Not sure if it's the same thing here though.

@s4cha maybe the large size of the repo can also be connected to the included zip-archive releases?

[2017-02-10 12:47] s4cha commented on #15
This is really weird.
ykyouhei forked 5 commits ago https://github.com/ykyouhei/then and doesn't have the issue.
So it validates that it happened in the meantime but the commits in between are mostly readme updates...

Using https://rtyley.github.io/bfg-repo-cleaner/ I have tried to no avail
the 400Mb packfile is transformed into a 200Mb one which is still way too big for such a project :/
[code]

[2017-02-10 16:44] s4cha commented on #15
running
[code]
Finds commits that are on the Cocoapods repo
for ex:
[code]

Something is very wrong here...

[2017-02-11 01:17] crarau commented on #15
I've made a fork and I'm no longer having the issue: https://github.com/crarau/then The clone of the fork is as expected, fast.

[2017-02-13 10:33] s4cha commented on #15
Thanks to @Ptr-mat precious help, this issue is now solved!!!
2 tags from Cocoapods were copied into then repo. So deleting them removed the 450MG commits!!

[2017-02-13 10:41] s4cha commented on #15
@crarau if you can validate we'll close the issue :)

[2017-02-14 18:29] crarau commented on #15
All good now!

[2017-02-14 20:44] s4cha commented on #15
:)

[2017-02-14 20:44] #15 closed

[2017-02-21 05:54] s4cha commented on #11
@singno
Thanks a lot for pointing this out.
Indeed ou implementation differ slightly on purpose. We had cases where we needed to store promises without starting them (passing around http calls) and that's why our Promises don't start until a then block is called.
 This is something that might change in the future but is tricky to change since libraries like https://github.com/freshOS/ws rely on th

[2017-02-21 06:00] s4cha commented on #10
@singno Thanks a lot for pointing me towards this.
Never used Async/Await before and this would be a sweet addition indeed :)
Looking at it at the moment !

[2017-02-21 06:15] s4cha commented on #10
Example syntaxes :
[code]
While the syntax is not shorter, I don't see any drawbacks to having this syntax as well.
People are also used to the Async/Await paradigm so It'll be a very welcome feature :)

In the meantime you can try it out by adding this
[code]
With which you'll be able to write :
[code]

Have a fantastic day !

[2017-02-22 09:42] MontakOleg commented on #10
Nice approach! Unfortunately, this is not usable because current thread is blocked. `Await` is 'asynchronious wait', it should immediately return control to thread and execute continuation when async work is completed. It looks like `yield` in some perspective.

[2017-02-24 07:17] s4cha commented on #11
A line has been added to the readme to explain why that is :)

[2017-02-24 07:17] #11 closed

[2017-02-24 07:43] s4cha commented on #10
Yep the Dispatch queue is needed to make it concurrent :)
[code]

[2017-03-16 13:09] s4cha commented on #10
@singno Happy to announce that Async/await is available in the latest release 🎉 : https://github.com/freshOS/then/releases/tag/2.2.0

[2017-03-20 09:00] #10 closed

[2017-04-19 14:25] cartermike opened #24 "Memory Leaks"
I've found an instance where I can produce a memory leak when using a Promise from within a new Promise:

[code]

I'm not sure if this is expected or not?  Sample project is attached.
[ThenLeakExample.zip](https://github.com/freshOS/then/files/935115/ThenLeakExample.zip)

[2017-04-21 14:12] ghost commented on #24
Appears this leak happens as a result of the lack of calling .then on the Promise.  If I add in the .then call then no more leak:

`leaky().then { _ in }.finally { }`

[2017-04-21 14:19] ghost opened #25 "Retain Cycle in registerThen"
Found this in Promise+then.swift:
[code]

Notice the retain cycle in the append block.  Was this intentional?  Looking back in the code history it seems a ` [weak self] ` was used at one point but was then removed later.

[2017-04-22 07:49] s4cha commented on #24
@cartermike, Thanks a ton for reporting these issues and taking the time to provide a sample project. I'm back on monday and will take a look :)

[2017-04-24 12:33] s4cha commented on #24
@cartermike

I've been able to reproduce the retain cycle using only:

[code]
As you mentioned, it only happens with `finally` and `onError`, not with `then`.
Weirdly enough, this only seem to happen in a synchronous setting. If you use :

[code]
No retain cycle !

Linking against the code and enabling `Malloc Stack`  (edit scheme> Logging: Malloc Stack) give us some hints
<img width="1035" alt="s

[2017-04-24 12:39] s4cha commented on #24
Well looks like using :
[code]
in both `Promise+Error` and `Promise+Finally` files solve the retain cycle. now let see if the unit tests still pass :)

[2017-04-24 12:45] s4cha commented on #24
Well the test still pass but, looks like they don't cover that part of the code so I'm going to dig into this to make sure we don't break anything.

[2017-04-24 14:16] s4cha commented on #24
Well, using weak is not a good strategy, since we do want to retain the promise until it is fulfilled.
P1 -retains-> P2 - retains -> P3.
when P1 fulfills, the chain should be released.
I think thee issue here is that progress is registered no matter what.
 If we move the `blocks.progress.append(p.progressPromise)` into the `pending:` case, it stops retaining the promise after its fulfilment.
That

[2017-04-24 14:24] s4cha commented on #24
[code]
@cartermike can you confirm this solves your retain cycle ?

[2017-04-24 14:26] ghost commented on #24
Absolutely I will -- give me an hour or so.

[2017-04-24 15:52] ghost commented on #24
@s4cha ok looks like this definitely fixes the issues with promises that never call then leaking -- i.e. what is in the sample project I attached.  So thats good news.  It did not do anything to quell all the other Promise leaks that I have all over my app through which I reported via freshOS/then#25

I don't have a sample project to reproduce those exactly yet.

[2017-04-24 20:11] s4cha commented on #24
@cartermike Sweet!. As for the other issue you reported, I'm going to instrument check on the apps I'm working on to see If I have something similar.
Hopefully, we can can have an update that fixes it all by the end of the week.
Thanks a ton for your help and time :)

[2017-04-27 15:01] ghost commented on #25
@s4cha were you able to run some Instruments for this issue?

[2017-05-04 14:42] #24 closed

[2017-05-05 07:53] s4cha commented on #25
@cartermike your fix is now up in the latest version https://github.com/freshOS/then/releases/tag/2.2.3
Once again thank you for your time and patience :)

[2017-07-26 12:22] crarau opened #27 "async/await use in Ubuntu 16.04 results in error: use of unresolved identifier 'DispatchGroup'"
Here is the result of `swift build`
[code]

[2017-07-27 12:27] s4cha commented on #27
This should be good in 2.2.4 : https://github.com/freshOS/then/releases/tag/2.2.4

Thanks a ton :)

[2017-07-27 18:21] crarau commented on #27
Great! It works with the tag 2.2.4

[2017-07-27 18:21] #27 closed

[2017-09-27 09:45] sdrpa opened #31 "Package.swift needs upgrade for swift 4."
I tried to use 3.0.0 in a project, compiling with Swift 4.0 from command line ... Got:

[code]

It seems if you're using swift 4 toolchain, when you build 'then' from command line, it's built using swift 3 mode due to old manifest file format.
Since Swift 4 changed access control rules the errors above appear.

When I changed 'then' Package.swift to:
[code]
Project built with no errors.

I created

[2017-09-27 10:25] s4cha commented on #31
@sdrp Thanks a ton for reporting this and finding a fix.
I am going to look into this :)

[2017-09-27 10:33] s4cha commented on #31
@sdrpa I've been able to reproduce the issue.
I think it's because promiseProgressCallBack is accessed in an extension (Promise.swift line 204). For some reason it works when building in Xcode but not through SPM.
Making promiseProgressCallBack internal instead of private fixes the issue on my side :)

[2017-09-27 10:36] s4cha commented on #31
Indeed, putting the extension "extension Promise where T == Void {"
in a separate file yields the same issue in Xcode. Somehow the fact that they were in the same file allowed them to be accessed while private.
I'll try to push a fix with next version today.
Cheers,

[2017-09-27 10:39] s4cha commented on #31
@sdrpa In the meantime pointing to commit cd0ebe1a0127d574ade0491048c2e6499ef9843c should work :)

[2017-09-27 13:19] s4cha commented on #31
@sdrpa can you confirm this is fixed in 3.0.1  https://github.com/freshOS/then/releases/tag/3.0.1 ?

[2017-09-27 17:17] sdrpa commented on #31
@s4cha yes, 3.0.1 compiles with no problems. Tested with XCode 9 and from command line.

[2017-09-28 14:43] s4cha commented on #31
Thanks for your help :)

[2017-09-28 14:43] #31 closed

[2017-10-26 15:51] cliapis opened #32 "whenAll.then issue in then execution"
Hello, I have an issue with the whenAll feature.

The promises are  executed successfully but the then block is never called.
here is a code sample:
[code]

As walk arround I managed to make it work like this:
[code]

Can you see any obvious reason why the .then block in never invoked?
Does whenAll support concurrent execution for the promises?

Thank you.

[2017-10-27 15:11] #25 closed

[2017-10-27 15:48] s4cha commented on #32
Hello @cliapis

First of all thank you for taking the time to write about your issue :)

I've tried rewriting your example on my side 👍

[code]

and then calling it like so:
[code]

`then` block is called as expected.

Maybe one of the `matcher.matchTermsAsync(from: phraseComponents)` promise is failing?

Have you tried adding a `onError` block to check that possibility ?

By the way the example a

[2017-10-29 15:07] cliapis commented on #32
Hello @s4cha , thank you for your quick reply.

I think that the problem is that the DispatchGroup.notify uses the Main DispatchQueue to send invoke the notify block.

My app is actually a web server (Server Side Swift) and the  main queue's execution is busy "listening" to for new connections.

So I believe that changing the notify queue to a QOS user interactive should solve the problem.
I will

[2017-10-30 09:17] cliapis commented on #32
Hello again, indeed changing the notify queue solved the problem.
By the way, amazing work!! ;)

[2017-10-30 09:31] s4cha commented on #32
Eagle eye!

I guess what we can do is call back on the **calling queue** if it finds one like so with a fallback on mainQueue :
[code]

[code]

Could you try with this alternative on your side and tell me if it fixes your issue?
If so, I'll put it in the next version :)

Thanks a ton for your time and effort !!!

[2017-10-30 10:57] cliapis commented on #32
hmm I thought that it would work, but it didn't

The OperationQueue.current is nil so it falls back to the main queue.
I don't think that there is way to get the current queue. In the past we had the dispatch_get_current_queue but now it's deprecated.

The main queue is a good choice for iOS or macOS Apps. On the server or in command line Apps the main thread needs to be busy in order to keep your

[2017-10-30 13:55] s4cha commented on #32
Oh shoot that would have saved us :/
Ok so I guess we have to introduce an optional `queue` parameter as you said :)

[2017-10-30 14:00] cliapis commented on #32
I can't think of any other solution. It's not that elegant in terms of API design and syntax, but it's an optional, so in the majority of cases it won't be used.

;)

[2017-10-30 14:16] s4cha commented on #32
Yep, would something like this work for you ?

[code]

PS: `callingQueue` is not always nil on my side so I left it there to be safe. The priority would be 1 the explicit queue, 2 the calling if found, 3 main (what it was before)

[2017-10-30 14:18] cliapis commented on #32
Looks great!!

[2017-11-13 15:59] byfoz commented on #31
@s4cha Are you able to push 3.0.1 to CocoaPods ? I can't seem to pull in the new version. Thanks 👍

[2017-11-13 16:11] s4cha commented on #31
@CImrie maybe cocoapods is down?  https://isitdownorjust.me/cocoapods-org/

[2017-11-13 16:19] byfoz commented on #31
@s4cha seems that was temporary - I can only see v3.0.0 when on this page:
https://cocoapods.org/?q=thenPromise

I can't seem to find v3.0.1 and therefore can't install it using cocoapods, which would be much preferred at the moment.

[2017-11-13 16:47] s4cha commented on #31
@CImrie My bad must have missed the pod deploy for the latest version :/ this should be good now :)

[2018-01-03 10:56] s4cha commented on #32
@cliapis, This is now live in 3.0.2.

https://github.com/freshOS/then/releases/tag/3.0.2

Please excuse the delay.

Thanks a ton for your time and effort @cliapis, this is truely appreciated :)

Have a fantastic 2018 !

[2018-02-01 18:52] #32 closed

[2018-03-01 17:53] DesmanLead opened #37 "thenPromise is not building with XCode 9.3 beta"
VoidPromise.swift:32
Cannot convert value of type '(Void) -> ()' to expected argument type '() -> Void'

XCode version: 9.3 beta (9Q98q)

[2018-04-02 20:55] #37 closed

[2018-05-08 08:42] cfanfs opened #39 "whenAll not fulfilled nor rejected"
Hello, I have an issue with whenAll

I have a piece of code like this:
[code]

This code randomly fails. I can find out that each of download promises are fulfilled but neither `then` nor `onError` are called.

Then I wrote a test:
[code]
and it fails.

Looks like the temporary variable `var ts = [T]()` has a thread race issue, and `registerFinally` is not an atomic operation.

Thank you.

[2018-05-16 13:02] NasH5169 opened #40 "Await is working ?"
Hi all,

Like PromiseKit wrapping delegates example on CLLocationManager, I try to do the same with freshOS/then.

https://github.com/mxcl/PromiseKit/blob/master/Documentation/CommonPatterns.md#wrapping-delegate-systems

The promise is working with:

[code]
but not with await, my app is blocked. An idea..?

Thank a lot for helping.

[code]
All LocatorManager singleton class code

[code]

[2018-05-30 01:18] ntkon opened #42 "Ambiguous use of 'init(callback:)'"
I'm trying to use Stevia and ws and am getting the following error in this included pod:

`.../Pods/thenPromise/Source/Promise+Delay.swift:30:16: Ambiguous use of 'init(callback:)'`

I've tried the usual update/install of pods but no joy. Any advise would be appreciated as I've not used these libraries before and was just starting to like it, but couldn't compile.

When I tried to use the freshOS

[2018-05-30 16:15] s4cha commented on #39
https://github.com/freshOS/then/releases/tag/4.1.0  :)

Thanks again, you rock!

[2018-05-31 00:38] #39 closed

[2018-06-12 03:01] iamlion opened #43 "can oc do it?"

[2018-06-13 08:18] sdrpa commented on #42
Check: [Xcode 9.3 & Swift 4.1](https://github.com/freshOS/then/releases/tag/4.0.0)

Promises calls like this:
[code]
Will now need to be disambiguated like so:
[code]

[2018-06-14 17:00] mylemans opened #44 "Add @discardableResult to await"
Would it be possible for you to add @discardableResult to wait?

It generates a warning if we just want to try await a function whose return value we do not care about.

[2018-06-14 17:24] mylemans commented on #44
For now I resolved it by making a global func named 'doing' doing the exact same thing as await :P

try doing(...) felt good enough

[2018-06-14 22:34] cfanfs commented on #43
I think this repo is for swift only. 😴

[2018-06-15 07:43] ntkon commented on #42
Thanks, I solved the problem as described in [https://github.com/freshOS/ws/issues/52](WS issues) by vimask.

[2018-06-15 13:24] green-caterpillar opened #45 "Data race"
Thread sanitizer is often complains about data race in "_synchronize" function:
[code]
That's probably due to using lockQueue from many threads simultaneously. And lockQueue is a lazily computed variable, which is not thread safe.

[2018-06-21 02:48] cfanfs commented on #45
That's true. Thank you for your feedback.

[2018-06-21 03:59] cfanfs commented on #45
Please check PR #46 if it works correctly. Thanks!

[2018-06-21 08:41] s4cha commented on #44
@mylemans I had never run into the use case personally but it seems like a reasonable thing :)
I'm going to add it for the next version

[2018-06-21 08:44] s4cha commented on #43
@iamlion oc is for "Objective-C" ? It might be usable from there, never tried to be honest. But the repo is swift only and we have no plans to improve Obj-C compatibility since Swift is the way forward :)

[2018-06-21 08:46] mylemans commented on #44
Thanks, it's appreciated 👍

[2018-06-21 08:47] s4cha commented on #42
@sdrpa Thanks for chiming in on this one :)
Closing this since it looks like it has been solved, feel free to reopen if needed.

[2018-06-21 08:47] #42 closed

[2018-06-21 08:50] s4cha commented on #40
@NasH5169 Please excuse such a late reply 🙏 . I'm looking at it now :)

[2018-06-21 09:54] s4cha commented on #40
@NasH5169 After a bit of test, this seems to come from the fact that CLLocationManager needs a runLoop to work, so typically on the main thread.
[code]
works while the following doesn't
[code]
So this isn't await per se but the fact that await is using Dispatch group.
Will report back when I have it working :)

[2018-06-21 09:56] s4cha commented on #40
When using `async` wrapping `await`, we get a message that corroborates our hypothesis :
_A location manager (0xe86bdf0) was created on a dispatch queue executing on a thread other than the main thread. It is the developer's responsibility to ensure that there is a run loop running on the thread on which the location manager object is allocated. In particular, creating location managers in arbitra

[2018-06-21 10:10] s4cha commented on #40
Another fun fact ! 😃
[code]

[2018-06-21 14:11] s4cha commented on #40
@NasH5169 Ok so I think I've got it now :)

First, you want to replace your `do` & `catch` with`async` & `onError`

[code]
Becomes
[code]

`await` without `async` is going to block the main thread, and thus block `CLLocactionManager` callbacks !

Then concerning the issue we described above, you want to make sure your Location Manager is inited on the main thread, which you can do like so :
[code]

[2018-06-22 09:19] s4cha commented on #45
@green-caterpillar this is now in https://github.com/freshOS/then/releases/tag/4.1.1 :)

[2018-06-22 09:20] s4cha commented on #44
@mylemans this is up in https://github.com/freshOS/then/releases/tag/4.1.1 :)

[2018-06-25 16:31] s4cha commented on #43
@iamlion any news?

[2018-06-25 16:32] #44 closed

[2018-06-25 16:33] s4cha commented on #40
@NasH5169 any news?

[2018-06-26 07:43] NasH5169 commented on #40
Yes, same result on my side. Solved thanks :-)

[2018-06-26 07:43] #40 closed

[2018-06-28 14:06] iamlion commented on #43
i think it working like “nodejs：  await new Promise(function(reslove,reject){ reslove({"key":"hello world"}); });”
but it doesn't work ： （

[2018-09-19 06:58] s4cha commented on #43
@iamlion Have you been able to use it? If you have another problem unrelated to objective C, please open a new issue, closing this for now :)

[2018-09-19 06:58] #43 closed

[2018-09-19 07:00] s4cha commented on #45
Closing this for now, feel free to reopen if needed :)

[2018-09-19 07:00] #45 closed

[2018-12-07 09:33] walkertop opened #49 ""Incompatible Swift version - framework was built with 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1) and the local version is 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1).""
carthage install method: [ ] .pkg, [ x] homebrew, [ ] source
which carthage:/usr/local/bin/carthage
carthage version: 0.31.2
xcodebuild -version: Xcode 10.1\Build version 10B61
Are you using --no-buildno
Are you using --no-use-binariesno
Are you using --use-submodulesno
Are you using --cache-buildsno
Are you using --new-resolverno

**cartfile**
[code]

[code]

[2018-12-10 05:14] walkertop commented on #49
@s4cha can u slove my issue?

[2018-12-16 22:53] florianbuerger commented on #49
@walkertop Until this is solved in the framework itself you can use the `--no-use-binaries` flag for carthage to build it with the right toolchain so the version will match.

[2018-12-19 07:19] walkertop commented on #49
@florianbuerger that's ok,3ks

[2018-12-19 14:44] s4cha commented on #49
@walkertop version 4.2.1 is now pre-built with the new Xcode https://github.com/freshOS/then/releases/tag/4.2.1, let me know if that works for you :)

[2018-12-27 07:27] walkertop commented on #49
fine to me,thanks

[2019-01-22 01:17] alexandre-g opened #50 "Progress not getting called"
Hi, struggling with the semantics for progress block

Here are two scenarios:
[code]

[code]

Is this the expected behavior? Or am I doing something wrong in the first case?

Thanks

[2019-02-28 13:39] NunoAlexandre commented on #50
@alexandre-g it seems like the first case shouldn't compile if `uploadFile` has a named argument.

What happens if you run this:

[code]

[2019-03-18 03:40] alexandre-g commented on #50
@NunoAlexandre Sorry for taking a while to test.

It does compile - from what I've seen it only complains if argument number/type does not match.

I've tried the formatting you suggested and still the same issue. You can test by slightly modifying the `testProgress()` test by making a version of upload() that takes an argument and trying to call

    doSomething()
      .then(upload(url:))
      .

[2019-04-04 15:58] bernardowilson opened #52 "Swift 5 support"
Sorry, I probably should've opened this issue before the PR. I'm mostly pasting the info from #51 here so that we can discuss these better. I've begun working on integrating the changes necessary to allow compilation of the project on Xcode 10.2 using its Swift 5 toolchain.

All tests are currently passing, but I've had to relax the timings on some of them from 0.3 to 0.5 seconds in order to run s

[2019-04-06 13:34] s4cha commented on #52
@bernardowilson First of all thank you so much for taking the time to issue a PR, this is really appreciated :) I've had to relax the timings locally as well when testing with swift 5, it's not a big deal.

Concerning the breaking changes I need to check what's going on, we'll do that on  #51.

PS: I'm currently trying to update to the latest Xcode at home with a terrible network connection might

[2019-04-06 13:45] s4cha commented on #50
@alexandre-g this does look like a bug indeed.
Could you share the full code involved (if possible) so we can try and debug it ?

@NunoAlexandre Thanks for chiming in 👍

PS: Please excuse the late reply 🙏

[2019-04-20 11:58] arden commented on #52
When will swift5 be supported ?

[2019-04-20 17:06] balecrim commented on #52
Hi @s4cha, first of all, sorry for the radio silence lately, I haven't had as much time lately to help out. I'll look into your feedback on #51 and try and reproduce the differences between our environments and be sure to let you know ASAP what I find out.

[2019-04-23 11:12] v-ksenofontov commented on #52
How about such a minimal revision?

[code]

[2019-04-24 20:48] s4cha commented on #52
@vksenfontov eagle eye, indeed that's what I had on my side that enables migrating without all the changes highlighted on #51
here is mine for reference:
[code]

[2019-04-24 20:52] s4cha commented on #52
@arden it is now :)
@bernardowilson Congrats ! Thank you so much for you work 🥇

Release:  https://github.com/freshOS/then/releases/tag/5.0.0
Pod: https://cocoapods.org/pods/thenPromise)

Closing this for now, don't hesitate to reopen if needed :)

[2019-04-24 20:52] #52 closed

[2019-05-16 13:48] MoveUpwardsDev opened #53 "Library name"
Thank you for providing such a great library.

Nevertheless the name shall be update in CamelCase

[code]

looks better than

[code]

[2019-07-11 14:11] subdiox opened #55 ".progress should be able to return Progress, not Float"
Currently, this library can only return `Float` value when using `.progress` directive.
However, Alamofire and other network libraries return `Progress` instance instead of `Float`.

I think thenPromise should be able to return `Progress` instance on `.progress` directive.
For example:
[code]

[2019-09-11 21:53] ohthatsjhall commented on #50
I'm experiencing the same behavior. Any update on this? Thanks for looking into it.

[2019-09-27 09:21] s4cha commented on #53
@MoveUpwardsDev this is a very good point. I like the idea. I'm going to update the lib to swift 5.1 first, which is quite urgent. I have to assess the implications of such a change on things like Cocoapods if we apply it to the library as a whole, and not just the framework name :)

[2019-09-30 07:27] s4cha commented on #53
@MoveUpwardsDev This is now live in latest version :)

[2019-09-30 07:43] #53 closed

[2019-10-09 19:49] diegoventura opened #58 "Resolve promise on main thread"
👋

Is there a way to resolve a promise on the main thread?

I saw a `resolveOnMainThread()` on the readme, but couldn't find any reference to it in the source code.

Thanks

[2019-10-10 18:20] lazylady opened #59 "Can not upload update of app to App Store after name change"
First of all: this framework rocks!

Just tried uploading a new version of our app to the app store and was prompted with an error: "Code signing "Then.framework" failed." This happened just after the name change to "Then". All imports has been updated to "Then" so it builds correctly.

Any clues on how to fix this?

Cheers,

Ted

[2019-10-10 21:13] lazylady commented on #59
I had mistakenly also embedded ( and not only linked ) the "then" framework. Human error, nothing to do with renaming.

[2019-10-10 21:13] #59 closed

[2019-11-07 14:54] jos76 opened #60 "Add watchOS platform support"
Would it be possible to add watchOS platform support for this project? If not, what are the limitations in supporting watchOS?

[2019-11-18 07:52] #60 closed

[2019-11-22 05:34] t3ddyK opened #62 "Wrapping completion handlers"
Awesome lib, I love it. I wondered if anyone had any advice on wrapping completion handlers, so I can convert a standard callback to a promise?

In `PromiseKit` I'd normally do something like -

[code]

I'd love to be able to migrate and only use Then if possible, sadly I have a couple of legacy services that I must wrap to create promises.

[2019-11-22 05:48] nodediggity commented on #62
There is something along the same lines in the doc - it may perhaps make sense to explicitly mention it as it could be glossed over, however you can do:

[code]

That should work 👍

[2019-11-22 05:55] nodediggity opened #63 "Mapping a response to `Void`"
I was thinking perhaps there may be some benefit to mapping a promise result to `Void`.

For example, I do not care about the result of a task, only that it has completed.

I use the `VIPER` pattern quite heavily and a lot of the time I simply want my components to know another task has finished, without needing to give it context of models, or responses etc.

This could be a fairly simple additio

[2019-11-22 08:29] s4cha commented on #62
@t3ddyK Thanks for the kind words :) @nodediggity Thanks for chiming in !
This is how it works indeed 👌  let me know if that works on your side.

[2019-11-22 10:51] nodediggity commented on #58
You could try -
[code]

[2019-11-22 11:59] #63 closed

[2019-11-25 11:32] s4cha commented on #63
@nodediggity This is a very good point 👌 . I actually have this extension in my own project.
Can you explain why you closed the issue ?
[code]

[2019-11-25 13:34] s4cha commented on #58
@diegoventura Indeed this is implemented in the ws library https://github.com/freshOS/ws.
You can easily implement it with the code above shared by @nodediggity :)

[2019-12-10 21:32] julestburt opened #64 "Xcode 11.2.1: fatal error: Unexpected Swift version"
I seem unable to compile the current master with the latest release of Xcode. I have a log if that's helpful - but am not sure if 11.2.1 is officially supported yet or not?

Any advice would be appreciated. Thx

export variant=normal
    /bin/sh -c /Users/jenkins/Library/Caches/org.carthage.CarthageKit/DerivedData/11.2.1_11B500/then/5.1.1/Build/Intermediates.noindex/ArchiveIntermediates/then/Inter

[2019-12-13 07:50] s4cha commented on #64
@julestburt Thanks for reporting this, I'm going to try to build it with the latest version and let you know how it goes.

[2019-12-13 08:35] s4cha commented on #64
@julestburt the latest version is 5.1.2 has been built with the latest Xcode (11.3) & Swift 5.1.3. https://github.com/freshOS/Then/releases/tag/5.1.2
Let me know if that solves your issue.

[2019-12-13 08:35] s4cha commented on #62
@t3ddyK can we close this?

[2019-12-13 08:36] s4cha commented on #58
@@diegoventura Did that work out for you? can we close this?

[2019-12-13 08:46] diegoventura commented on #58
Yes! Thanks and sorry for late response

[2019-12-13 08:46] #58 closed

[2019-12-13 08:50] s4cha commented on #55
@subdiox Thanks for the suggestion, I wasn't very familiar with the `Progress` object. This seems like a good addition to me.

[2019-12-18 02:25] julestburt commented on #64
Yes, this seems to have resolve. Much appreciated!!

[2019-12-18 02:25] #64 closed

[2020-01-07 15:36] bguidolim opened #66 "Cocoapods support"
Hi!

I saw that Cocoapods is deprecated now, I would like to suggest adding support again since it doesn't change the way to develop for SPM as well.

The library is a very useful library and Cocoapods still in use for a huge number of projects out there, would be nice to keep using this the way it is.

Thanks.

[2020-01-07 15:41] bguidolim commented on #66
Well, at least set it as deprecated on the cocoapods-specs repo.

[2020-01-07 16:06] iliaskarim opened #67 "Readme code snippet typoed"
[code]

see ```}.finally {M```

[2020-01-07 17:03] s4cha commented on #67
Thanks @iliaskarim, just fixed it :)

[2020-01-07 17:04] #67 closed

[2020-01-08 17:30] bguidolim commented on #50
+1

[2020-02-05 16:40] roisg opened #68 "Thread explosion causing a deadlock?"
Hi, we are using Then together with Vapor for a swift server side project. While doing some performance tests, we noticed that our current implementation is not able to support more than 64 concurrent requests without collapsing and being stuck in what it seems to be a deadlock.

For each request, we are always creating an **async** block and inside we'll be calling multiple async methods with **a

[2020-02-21 21:38] steventnorris-40AU commented on #66
I second this. Adding PODs support back in would be much appreciated. We have several projects that are using Cocoapods, and I'd like to not mix my dependency management.

[2020-03-18 20:42] ohthatsjhall commented on #50
🙏

[2020-06-03 13:24] s4cha commented on #62
Closing for lack of activity

[2020-06-03 13:24] #62 closed

[2020-08-02 03:13] nanocba commented on #50
No luck on this? I'm facing the same issue.

[2020-08-02 07:22] bguidolim commented on #50
Nope. I already moved away from the lib.

[2020-12-01 16:28] simonbromberg opened #70 "Warning Xcode 12: Simulator deployment target ‘IPHONEOS_DEPLOYMENT_TARGET’ is set to 8.0"
Warning in Xcode 12

Would be nice to silence this warning.

iOS 8 support can presumably be safely dropped?

![image](https://user-images.githubusercontent.com/2942298/100768034-6d96b080-33c8-11eb-96ca-e85c227f1076.png)

[2021-06-15 11:55] cillyfly opened #71 "How about support iOS 15?"
is any schedule for support iOS15?

[2021-06-17 02:35] hllGitHub commented on #71
Looking forward to the support of iOS15.

[2021-09-27 12:37] antonm76 commented on #68
Async is implemented with its own concurrent queue:
[code]
Looks like using one of the `global` queues could resolve it.

[2021-10-07 18:25] dasoga commented on #71
Same here! 🙋🏽‍♂️

[2021-10-08 06:25] cillyfly commented on #71
https://github.com/freshOS/Then/pull/72

[2021-11-15 08:38] s4cha commented on #70
Thanks for reporting, this is now fixed in https://github.com/freshOS/Then/releases/tag/6.0.0

[2021-11-15 08:38] #70 closed

[2021-11-17 18:13] s4cha commented on #71
@cillyfly, @hllGitHub, @dasoga  #72 has been merged and is live in https://github.com/freshOS/Then/releases/tag/6.0.0, let me know if that works for you :)

[2021-12-21 15:50] JGwilliams commented on #66
I third this. I've inherited a codebase that has a third-party Cocoapod library which includes Then as a dependency, along with other Cocoapods. This is making it difficult - and maybe impossible - for me to compile since I can't find a way to get Cocoapods to work with SPM dependencies.

[2022-05-17 23:20] dasoga opened #74 "M1 - Apple Silicon support"
Hi all

In order to run my project in Apple Silicon I had to exclude the arch `arm64`.
But I'm getting this error, could you add support to this please?

Could not find module 'Then' for target 'x86_64-apple-ios-simulator'; found: arm64-apple-ios-simulator, at: /Users/.../.../Developer/Xcode/DerivedData/..../Build/Products/Debug-iphonesimulator/Then.swiftmodule

To reproduce it:

In M1 - Apple Sil

[2022-06-28 12:17] #71 closed

[2022-06-28 12:19] s4cha commented on #74
Hi Dasoga, I will have access to an M1 Mac in a few days and will report back.

[2022-06-30 12:21] s4cha commented on #74
Hi @dasog, after running some tests, M1 has no issue on my end. I think your issue lies in the
"excluded architctures" flag. Running `Then` on M1 from a newly created project seems to work fine.
Could you elaborate on why you need this in the first place please?